.contenedor-formulario {
  position: relative;
  background: linear-gradient(135deg, #080808, #000000);
  width: 650px;
  margin: 20px auto 100px; /* centrado y separado del nav */
  padding: 50px 60px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border-top: 6px solid #ff4d8d;
  color: #fff;
  z-index: 10;
}

/* Forzar color blanco en todos los navegadores */
::placeholder {
  color: #ffffff !important;
  opacity: 1 !important;
}

/* Compatibilidad para navegadores específicos */
::-webkit-input-placeholder {
  color: #ffffff !important;
}
:-ms-input-placeholder {
  color: #ffffff !important;
}
::-ms-input-placeholder {
  color: #ffffff !important;
}


/* Logo dentro del formulario */
.logo {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 200px;
    height: auto;
    opacity: 0.9;
}

/* Título */
h1 {
  text-align: center;
  margin-top: 60px;
  font-weight: 700;
  color: #fff;
}

/* Formularios */
label {
  font-weight: 600;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ff66a3;
  box-shadow: 0 0 8px rgba(255, 77, 141, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
}



/* Botones */
.botones input[type="submit"],
.botones input[type="reset"] {
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.botones input[type="submit"] {
  background-color: #ff4d8d;
}

.botones input[type="reset"] {
  background-color: #ff4d8d;
}

.botones input[type="submit"]:hover {
  background-color: #ff1a75;
  transform: translateY(-2px);
}

.botones input[type="reset"]:hover {
  background-color: #ff1a75;
  transform: translateY(-2px);
}

.textoinferior{
  padding: 20px 10px;
  font-size: 1.5625rem;
  font-family: "Lora";
}
